.full-height {
    height: 100vh;
  }
  .flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
  }
  .position-ref {
    position: relative;
  }
  .top-right {
    position: absolute;
    right: 10px;
    top: 18px;
  }
  .content {
    text-align: center;
  }
  .title {
    font-size: 60px;
  }
  .links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.1rem;
    text-decoration: none;
    text-transform: uppercase;
  }
  .m-b-md {
    margin-bottom: 30px;
    color: #000000;
  }
  .form-control.matrix-area{
    width:12%;
    overflow:hidden !important;
    margin-bottom:2%;
    margin-top:2%;
    display:inline-block;
    vertical-align: middle;

  }
  .matrix-app-container{
    padding:5%;
  }
  .navbar{
    background-color: #eaeaea;
  }
  .container{
    margin-left:0 !important;
    margin-right:0 !important;
    padding-left:5% !important;
  }
  .btn.calculate-button{
    display:block;
  }
  .matrix-area.mult-symbol{
    margin:0 auto;
    text-align:center;
    font-size:50px;
    display: inline-block;
    margin-left:2%;
    margin-right:2%;
  }

  .error-msg{
    width: 25%;
    color: red;
    margin-bottom: 20px;
    font-size: 20px;
  }